@model view;

<div class="align-content-end">
    <partial name="_Notification" class="align-content-end" />
</div>

<form class="d-flex" method="post">
    <input class="form-control me-sm-2" type="search" placeholder="Search" asp-for="search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="container p-4">
    <div class="row pt-4">
        <div class="col-6">
            <h2 clss="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-outline-success">
                <i class="bi bi-plus-circle-dotted"></i> &nbsp; Create New Category
            </a>
        </div>
    </div>
</div>
<br />


<div class="row m-0 my-1 bg-dark p-3 rounded text-white">
    <div class="col-4">Category Name</div>
    <div class="col-4">Display Order</div>
    <div class="col-4 text-md-center"></div>

</div>

@foreach (var obj in Model.Categories)
{
    if (Model.search == null || obj.Name.Contains(Model.search))
    {
        <div class="row m-0 my-1 border border-black p-3 rounded">
            <div class="col-4">@obj.Name</div>
            <div class="col-4">@obj.DisplayOrder</div>
            <div class="col-4 d-flex justify-content-end">
                <div class="btn-group " role="group">
                    <a class="btn " asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                    <a class="btn " asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">
                        <i class="bi bi-trash">
                        </i>Delete
                    </a>
                </div>
            </div>

        </div>
    }

}

@* <table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th class="mx-2">
                Category Name
            </th>
            <th >
                Display Order
            </th>
            <th style="width:0.1%"></th>
    
        </tr>
    </thead>
    <tbody>
        

        
    @foreach(var obj in Model.Categories){
        if(Model.search == null || obj.Name.Contains(Model.search))
        {
            <tr>
                <td class="text-xl">
                    @obj.Name
                </td>
                <td>
                    @obj.DisplayOrder
                </td>
                <td>
                    <div class="btn-group " role="group">
                        <a class="btn mx-2" asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                        <a class="btn mx-2 " asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">
                            <i class="bi bi-trash">
                            </i>Delete
                        </a>
                    </div>

                </td>
            </tr>
        }
                
    }
        
    </tbody>
</table> *@
